.home {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner-container {
        img{
            width: 30rem;
            margin: 0 auto;
        }
        h2 {
            text-align: center;
        }
    }
}
@media (min-width: 1000px) {
    .home {
        .inner-container {
            img{
                width: 60rem;
            }
            h2 {
                text-align: center;
                font-size: 3rem;
            }
        }
    }
}