header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    background-color: #121212;
    padding: 0.5rem 0;
    z-index: 99999;
}

nav {
    .inner-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #121212;
    }
}

.menu-list {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 0;
    overflow: hidden;
    top: 16rem;
    left: 0;
    background-color: #121212;
    li {
        line-height: 6;
        a {
            width: 100%;
            &:hover {
                background-color: #A30000;
            }
        }
    }
}

.menu-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    svg {
        width: 5rem;
        height: 5rem;
        path {
            fill: #f7f7f7;
        }
    }
}

.open {
    height: 100vh;
    overflow: visible;
    z-index: 999999;
}
.close {
    svg {
        path {
            fill: #A30000;
        }
    }
}

@media (min-width: 700px) {
    .menu-list {
        top: 16rem;
    }
}
@media (min-width: 1000px) {
    nav {
        align-items: center;
    }
    .menu-list {
        position: static;
        height: auto;
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
        overflow: visible;
        li {
            line-height: 0;
            a {
                &:hover {
                    color: #A30000;
                }
            }
        }
    }
    .menu-icon {
        display: none;
    }
}